{% include header.html %}

<div class="container"><h1>{{ toolpage.title }}</h1></div>

<div class="container">
	<div class="col-md-3">
		<a href="{{ page.link }}" target="_blank"><img class="img-responsive" src="{{ page.image-url }}"/></a>
	</div>
	<div class="col-md-9">
		<h3><a href="{{ page.link }}" target="_blank">{{ page.title }}</a></h3>
		<p>{{ page.summary }}</p>
		<p>Developed by {{ page.developed-by }}</p>
		<p>{{ page.description }}</p>
<!--			<a class="btn btn-primary" id="btn{{ tool.row }}" data-toggle="collapse" href="collapse{{ tool.row }}">More info</a> -->
	</div>
</div>
<div class="container">
	<div class="col-md-3">
		<a href="http://www.icfj.org" target="_blank"><img class="img-responsive" src="../img/fullcolor_horizontal_logo_large.jpg"/></a>
	</div>
</div>
</div>


{% include footer.html %}