{% include header.html %}

<div class="container"><h1>{{ toolpage.title }}</h1></div>

<div class="container">
	<div class="col-md-3">
		<a href="{{ page.link }}" target="_blank"><img class="img-responsive" src="{{ page.image-link }}"/></a>
	</div>
	<div class="col-md-9">
		<div class="row">
			<h3><a href="{{ page.link }}" target="_blank">{{ page.title }}</a></h3>
			<p>{{ page.summary }}</p>
		</div>

		<div class="row">
			<table class="table">
				<tr><td>Developers</td>
				<td>
			{% assign devs = page.developers | split: "," %}
			{% assign devlinks = page.developer-links | split: "," %}
			{% for dev in devs %}
				{% assign devindex = forloop.index0 %}
			<a href="{{ devlinks[devindex]  }}">{{ dev }}</a><br/>
			{% endfor %}
				</td></tr>
				<tr><td>Fellows</td>
				<td>
			{% assign fels = page.fellows | split: "," %}
			{% assign fellinks = page.fellow-bios | split: "," %}
			{% for fel in fels %}
				{% assign felindex = forloop.index0 %}
			<a href="{{ fellinks[felindex]  }}">{{ fel }}</a><br/>
			{% endfor %}
				</td></tr>
				<tr><td>Stories</td>
				<td>
			{% assign sts = page.stories | split: "," %}
			{% assign slinks = page.story-links | split: "," %}
			{% for s in sts %}
				{% assign sindex = forloop.index0 %}
			<a href="{{ slinks[sindex]  }}">{{ s }}</a><br/>
			{% endfor %}
				</td></tr>
			{% if page.github %}
				<tr><td>Github</td>
				<td>
				<a href="{{ page.github }}">{{ page.github}}</a>
				</td></tr>
			{% endif %}
				<tr><td>Cost</td>
				<td>
				{{ page.cost }}
				</td></tr>
			</table>
		
		</div>
	
		<div class="row">
			<div>{{ page.description }}</div>
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="col-md-3">
		<a href="http://www.icfj.org" target="_blank"><img class="img-responsive" src="../img/fullcolor_horizontal_logo_large.jpg"/></a>
	</div>
</div>
</div>


{% include footer.html %}